{#
/**
 * @file
 * Default simple view template to display a list of rows.
 *
 * @ingroup views_templates
 */
#}
{%
  set classes = [
  'view',
  'view-' ~ id|clean_class,
  'view-id-' ~ id,
  'view-display-id-' ~ display_id,
  dom_id ? 'js-view-dom-id-' ~ dom_id,
]
%}

{{ attach_library('limestone/faqs') }}
<div{{ attributes.addClass(classes) }}>
  <menu class="feature-previous" tabindex="0">
    <span id="less-photos" class="icon-circleleft less-photos"></span>
  </menu>
  <menu class="feature-more" tabindex="0">
    <span id="more-photos" class="icon-circleright more-photos"></span>
  </menu>

  {% if title %}
    <{{ group.element }}{{ group.attributes }}>
    {{ title }}
    </{{ group.element }}>
  {% endif %}

  {% if list.element %}
    <{{ list.element }}{{ list.attributes }}>
  {% endif %}

  {% for id, row in rows %}

    {% if row.element %}
      <{{ row.element }} {{ row.attributes }}>
    {% endif %}

    {{ row.content }}

    {% if row.element %}
      </{{ row.element }}>
    {% endif %}

  {% endfor %}

  {% if list.element %}
    </{{ list.element }}>
  {% endif %}
  <div class="faq-details" style="display: none;">
    <section class="wrap">
      <a href="#" class="close"><span class="icon-cross"><span class="esc-to-close">ESC to close</span><span class="invisible">Close</span></span></a>
      <h2>null</h2>
      <hr class="white">
      <div class="answer" tabindex="-1"></div>
    </section>
  </div>
</div>
