<div {{ attributes.setAttribute('id', settings.wrapper_id).addClass('grid-x', settings.wrapper_classes) }}>
  {% if content.sidebar_left %}
    <{{ settings.wrappers.sidebar_left }} {{ region_attributes.sidebar_left.addClass('cell', 'medium-4') }}>
      {{ content.sidebar_left }}
    </{{ settings.wrappers.sidebar_left }}>
  {% endif %}
  {% if content.sidebar_right %}
    <{{ settings.wrappers.sidebar_right }} {{ region_attributes.sidebar_right.addClass('cell', 'medium-8') }}>
      {{ content.sidebar_right }}
    </{{ settings.wrappers.sidebar_right }}>
  {% endif %}
</div>