<div {{ attributes.setAttribute('id', settings.wrapper_id).addClass('grid-x', settings.wrapper_classes) }}>
  {% if content.top %}
    <{{ settings.wrappers.top }}  {{ region_attributes.top.addClass('cell', 'medium-12') }}>
      {{ content.top }}
    </{{ settings.wrappers.top }}>
  {% endif %}
  {% if content.sidebar_left %}
    <{{ settings.wrappers.sidebar_left }}  {{ region_attributes.sidebar_left.addClass('cell', 'medium-6') }}>
      {{ content.sidebar_left }}
    </{{ settings.wrappers.sidebar_left }}>
  {% endif %}
  {% if content.sidebar_right %}
    <{{ settings.wrappers.sidebar_right }}  {{ region_attributes.sidebar_right.addClass('cell', 'medium-6') }}>
      {{ content.sidebar_right }}
    </{{ settings.wrappers.sidebar_right }}>
  {% endif %}
  {% if content.bottom %}
    <{{ settings.wrappers.bottom }}  {{ region_attributes.bottom.addClass('cell', 'medium-12') }}>
      {{ content.bottom }}
    </{{ settings.wrappers.bottom }}>
  {% endif %}
</div>