{#
/**
 * @file
 * Zurb Foundations's theme implementation to display a single page.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - linked_logo: The logo image, linked to <front>.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - linked_site_name: The name of the site that also links to <front>.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 * - hide_site_name: A flag indicating if the site name has been toggled off on
 *   the theme settings page. If hidden, the "visually-hidden" class is added
 *   to make the site name visually hidden, but still accessible.
 * - hide_site_slogan: A flag indicating if the site slogan has been toggled off
 *   on the theme settings page. If hidden, the "visually-hidden" class is
 *   added to make the site slogan visually hidden, but still accessible.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.meta_header
 * - page.header
 * - page.help
 * - page.highlighted
 * - page.content
 * - page.sidebar_first
 * - page.sidebar_second
 * - page.footer_first
 * - page.footer_middle
 * - page.footer_last
 *
 * @see template_preprocess_page()
 * @see bartik_preprocess_page()
 * @see html.html.twig
 */
#}
{{ attach_library('limestone/readmore') }}
<div class="off-canvas-wrapper">
  <div class="inner-wrap off-canvas-wrapper-inner" id="inner-wrap" data-off-canvas-wrapper>
    <aside id="top-off-canvas-search" class="off-canvas position-top" role="complementary" data-off-canvas>
      {{ page.top_off_canvas }}
    </aside>
    <aside id="left-off-canvas-menu" class="off-canvas left-off-canvas-menu position-left" role="complementary"
           data-off-canvas>
      {{ page.left_off_canvas }}
    </aside>
    <aside id="right-off-canvas-menu" class="off-canvas right-off-canvas-menu position-right" role="complementary"
           data-off-canvas>
      {{ page.right_off_canvas }}
    </aside>
    {% if page.alert %}
      <div class="alert-section">{{ page.alert }}</div>
    {% endif %}
    <div class="off-canvas-content" data-off-canvas-content>
      {% if page.top_bar %}
        <div class="top-bar">
          <div class="grid-container">
            <div class="grid-x grid-margin-x">
              {{ page.top_bar }}
            </div>
          </div>
        </div>
      {% endif %}
      <header class="site-header" role="banner" aria-label="{{ 'Site header'|t }}">
        <div class="grid-container">
          <div class="grid-x grid-margin-x">
            {{ page.header }}
          </div>
        </div>
      </header>
      <div class="main-menu-region">
        {{ page.main_menu_region }}
      </div>
      {% if node.title.value %}
        <div class="splash-header degree-header stripes-dark-tile grid-x align-middle" role="heading">
          {{ drupal_field('field_background_splash_image', 'node') }}
          <table class="cell small-12">
            <tbody><tr>
              <td>
                {{ title_prefix }}
                <h1 class="h1 max-1000 splash-header-title align-center">{{ title }}</h1>
              </td>
            </tr>
            <tr><td>{{ drupal_field('field_program_type_term', 'node') }}</td></tr>
            </tbody>
          </table>
        </div>
      {% endif %}
      {% if messages and not zurb_foundation_messages_modal %}
        <div class="l-messages grid-container">
          <div class="large-12 cell">
            {{ messages }}
          </div>
        </div>
      {% endif %}

      {% if page.help %}
        <div class="l-help grid-container">
          <div class="large-12 cell">
            {{ page.help }}
          </div>
        </div>
      {% endif %}


      {% if page.sidebar_first %}
        <div class="grid-container">
          <div class="grid-x grid-margin-x">
            <div id="sidebar-first" class="{{ sidebar_first_grid }} cell sidebar ">
              {{ page.sidebar_first }}
            </div>
            <main id="main" class="{{ main_grid }} cell" role="main">
              {% if page.highlighted %}
                {% spaceless %}
                  {{ page.highlighted }}
                {% endspaceless %}
              {% endif %}
              <a id="main-content"></a>
              <section>
                {{ page.content }}
              </section>
            </main>
            {% if page.sidebar_second %}
              <div id="sidebar-second" class="{{ sidebar_sec_grid }} cell sidebar">
                {{ page.sidebar_second }}
              </div>
            {% endif %}
          </div>
        </div>
      {% elseif page.sidebar_second %}
        <div class="grid-container">
          <div class="grid-x grid-margin-x">
            {% if page.sidebar_first %}
              <div id="sidebar-first" class="{{ sidebar_first_grid }} cell fibonacci-aside">
                {{ page.sidebar_first }}
              </div>
            {% endif %}
            <main id="main" class="{{ main_grid }} cell auto" role="main">
              {% if page.highlighted %}
                {% spaceless %}
                  {{ page.highlighted }}
                {% endspaceless %}
              {% endif %}
              <a id="main-content"></a>
              <section>
                {{ page.content }}
              </section>
            </main>
            <div id="sidebar-second" class="{{ sidebar_sec_grid }} cell fibonacci-aside">
              {{ page.sidebar_second }}
            </div>
          </div>
        </div>
      {% else %}

        <main id="main" class="{{ main_grid }} cell" role="main">
          {% if page.highlighted %}
            {% spaceless %}
              {{ page.highlighted }}
            {% endspaceless %}
          {% endif %}
          <a id="main-content"></a>
          <section class="grid-container content-bump-up bg-white spacing-xs padding-sides-sm">
            {{ drupal_block('limestone_local_tasks') }}
            <div class="grid-x grid-margin-x">
              <div class="cell medium-7">
                {{ drupal_entity('block', 'addtoanybuttons') }}
                {{ drupal_field('body', 'node') }}
              </div>
              <div class="cell medium-5">
                {{ drupal_field('field_fast_facts', 'node') }}
                {% if node.field_display_faculty_horizontal.value == '0' %}
                  {{ drupal_field('field_related_faculty', 'node') }}
                {% endif %}
                {{ drupal_field('field_optional_text_below_relate‎', 'node') }}
                {% if node.field_display_related_news_below.value == '1' %}
                  {{ drupal_view('news', 'block_5') }}
                {% endif %}
              </div>
            </div>
            {% if node.field_display_faculty_horizontal.value == '1' %}
              <div class="grid-x grid-margin-x related-faculty-horizontal">
                {{ drupal_field('field_related_faculty', 'node') }}
              </div>
            {% endif %}
          </section>

          <section class="spacing-xs padding-sides-sm" style="background-color: #f6f6f6;border-top: thin solid #f2f2f2;">
            <div class="grid-container">
            <div class="grid-x grid-margin-x">
              <div class="cell medium-7">
                {{ drupal_field('field_courses', 'node') }}
                {{ drupal_field('field_required_courses', 'node') }}
              </div>
              <div class="cell medium-5 sidebar">
                {{ drupal_entity('block', 'degreemenu') }}
                {{ drupal_field('field_optional_text_for_current_', 'node') }}
                {{ drupal_field('field_link_to_catalog_page', 'node') }}
                {% if ( node.field_display_day_financial_aid_.value == '1' ) or
                  ( node.field_display_o_e_financial_aid_.value == '1' ) or
                  ( node.field_display_grad_financial_aid.value == '1' ) %}
                  <div class="lc-header">Financial Aid Information</div>
                {% endif %}
                {% if node.field_display_day_financial_aid_.value == '1' %}
                  {{ drupal_block('daycampusfinancialaidinfomodalbutton') }}
                {% endif %}

                {% if node.field_display_o_e_financial_aid_.value == '1' %}
                  {{ drupal_block('oecampusfinancialaidinfomodalbutton') }}
                {% endif %}

                {% if node.field_display_grad_financial_aid.value == '1' %}
                  {{ drupal_block('gradfinancialaidinfomodalbutton') }}
                {% endif %}
                {% if node.field_display_related_news_below.value == '0' %}
                  {{ drupal_view('news', 'block_5') }}
                {% endif %}
              </div>
            </div>
            </div>
          </section>
          <section class="background-darkblue">
            <h2 class="centered-header text-align-center spacing-sm">Similar Majors</h2>
            {{ drupal_field('field_similar_majors', 'node') }}
          </section>

        </main>
      {% endif %}

      {% if page.footer %}
        <footer class="site-footer">
          <div class="grid-container">
            <div id="footer" class="large-12 cell">
              {{ page.footer }}
            </div>
          </div>
        </footer>
      {% endif %}
      {% if page.lower_footer %}
        <div class="lower-footer-region">
          {{ page.lower_footer }}
        </div>
      {% endif %}
      <div class="bottom-bar panel">
        <div class="grid-container">
          <div class="large-12 cell">
            &copy; {{ "now"|date('Y') }} {{ site_name }} {{ 'All rights reserved.'|t }} <a
              href="https://goo.gl/maps/HgKHGbrkNoS2"><span class="icon-location"></span> Gaffney, SC</a>
            <a class="phone" href="tel:8644897151"><span class="icon-phone"></span> 864.489.7151</a>
            <a class="info" href="/contact"><span class="icon-info"></span> Contact LC</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
